In [11]:
count=0
while count<5:
    print(count)
    count=count+1
#prints from 0 to 4

0
1
2
3
4

In [5]:
count=0
while count<5:
    print(count)
    count=count+1
else:
    print(count)

0
1
2
3
4
5

In [13]:
count=0
while count<5:
    print(count)
    count=count+1
    if count==3:
        break

0
1
2

In [19]:
count=0
while count<5:
    if count==3:
        count=count+1
        continue
    print(count)
    count=count+1
#The above while loop only prints 0,1,2 and 4

0
1
2
4

In [37]:
#syntax
#Declaring a function
def function_name():
    codes
    codes
#Calling a function
function_name()

In [27]:
def generate_full_name():
    first_name='Asabeneh'
    last_name='Yetayeh'
    space=''
    full_name=first_name+space+last_name
    print(full_name)
generate_full_name()#calling a function

AsabenehYetayeh

In [33]:
def add_two_numbers():
    num_one=2
    num_two=3
    total=num_one+num_two
    print(total)
add_two_numbers()

5

In [76]:
def add_two_numbers():
    num_one=2
    num_two=3
    total=num_one+num_two
    return total
add_two_numbers()

5

In [49]:
def greetings(name):
    message=name+'welcome to python for everyone'
    return message 
print(greetings('charu'))
def add_ten(num):
    ten=10
    return num+10
print(add_ten(90))
def square_number(x):
    return x*x
print(square_number(2))

charuwelcome to python for everyone
100
4

In [78]:
def area_of_circle(r):
    Pi=3.14
    area=Pi*r**2
    return area
print(area_of_circle(10))
def sum_of_numbers(n):
    total=0
    for i in range(n+1):
        total+=i
    return total
print(sum_of_numbers(10))
print(sum_of_numbers(100))

314.0
55
5050

In [80]:
def calculate_age(current_year,birth_year):
    age=current_year-birth_year
    return age;
print('Age:',calculate_age(2024,2003))

Age: 21

In [89]:
def weight_of_object(mass,gravity):
    weight=str(mass*gravity)+'N'#the value haas to be changed to a string first
    return weight
print('weight of an object in newtons:',weight_of_object(100,9.81))

weight of an object in newtons: 981.0N

In [91]:
def calculate_age(birth_year,current_year=2021):
    age=current_year-birth_year
    return age;
print('Age:',calculate_age(1821))

Age: 200

In [93]:
def weight_of_object(mass,gravity=9.81):
    weight=str(mass*gravity)+'N'#the value haas to be changed to a string first
    return weight
print('weight of an object in newtons:',weight_of_object(100))
print('weight of an object in newtons:',weight_of_object(100,1.62))

weight of an object in newtons: 981.0N
weight of an object in newtons: 162.0N

In [10]:
from statistics import *
ages=[20,20,4,24,25,22,26,20,23,22,26]
print(mean(ages))
print(median(ages))
print(mode(ages))
print(stdev(ages))

21.09090909090909
22
20
6.106628291529549

In [12]:
import math
print(math.pi)
print(math.sqrt(20))
print(math.pow(2,3))
print(math.floor(9.81))
print(math.ceil(3.43))
print(math.log10(100))

3.141592653589793
4.47213595499958
8.0
9
4
2.0

In [ ]:
# mymodule.py file
def generate_full_name(firstname,lastname):
    return firstname+''+lastname

create main.py.file in your project directory and import the mymodule.py file

In [ ]:
#self invoking lambda function
(lambda a,b:a+b)(2,3)#5-need to encapsulate it in print() to see the result in the console
square=lambda x:x**2
print(square(3))
cube=lambda x:x**3
print(cube(3))
#multiple variables
multiple_variables=lambda a,b,c:a**2-3

In [ ]:
numbers=[1,2,3,4,5]
def square(x):
    return x**2
    numbers_squared=map(square,numbers)
    print(list(numbers_squared))
    numbers_squared=map(lambda

In [23]:
try:
    print(10+'5')
except:
        print('something went wrong')

something went wrong

In [27]:
name=input('enter your name')
year_born=input('year you were born')
age=2019-year_born
print(f'you are{name}.and your age is{age}.')

enter your name shreyas
year you were born 2003

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [29]:
try:
    name=input('enter your name')
    year_born=input('year you were born')
    age=2019-year_born
    print(f'you are{name}.and your age is{age}.')
except:
    print('something went wrong')

enter your name shretyas
year you were born 2005

something went wrong

In [31]:
fruits=['banana','orange','mango','lemon','lime']
vegetables=['tomato','potato','cabbage','onion','carrot']
fruits_and_veges=[]
for f,v in zip(fruits,vegetables):
    fruits_and_veges.append({'fruit':f,'veg':v})

print(fruits_and_veges)

[{'fruit': 'banana', 'veg': 'tomato'}, {'fruit': 'orange', 'veg': 'potato'}, {'fruit': 'mango', 'veg': 'cabbage'}, {'fruit': 'lemon', 'veg': 'onion'}, {'fruit': 'lime', 'veg': 'carrot'}]